#center{
	width:840px;
	height:60vh;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
}

#ctop{
	height:70%;
	width:100%;
	
}
#ctopleft{
	height:100%;
	width:30%;
	display:inline-block;
	
}
#ctopright{
	height:100%;
	width:60%;
	display:inline-block;
	overflow:auto;
	border-left:3px solid rgba(100,100,100,0.5);
	padding-left:10px;
	margin-left:40px;
	background-color:rgba(120,120,120,0.4);
}

#bigImg{
	height:90%;
	width:100%;
	
}
#ctoptitle, #ctoppara{
	color:rgb(30,30,30)
	
}
.thumbs{
	height:60px;
	padding:5px;
	width:60px;
	
}
#background{
	width:100vw;
	height:100vh;
	position:absolute;
	top:0;
	left:0;
	background-image:url(img/0001.png);
	background-size:cover;
	
	
}